body {
    line-height: 1;
	background-color: #eaeaea(60, 100%, 99%, 0.43);  
	font-family: Open Sans, Verdana;
	font-size: 14px;
}

main {
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: auto;
	font-family: Open Sans, Verdana;
	font-size: 14px;
	text-decoration: none
}



footer{
	width: 100%;
	margin: 70px 0px 0px 0px;
	padding: auto;
	background-color: black;
}

nav{	
	background-color: #000000;
}


strong, b {
    font-weight: bold;
}


h1 {
	font-weight: bold;
}



.menu-item a{
	color: #FFFFFC;
	font-weight: bold;
	text-decoration: none ;
}

.Voltar{
	margin: 10px 0px 0px 390px;
}

.Titulo{
	margin: 10px 0px 10px 390px;
}

.Descrição{
	margin: 10px 340px 0px 390px;
}

.Projetos{
	margin: 10px 0px 0px 390px;	
}
.Projetos a{
	text-decoration: none;
}

img{
	margin: 0px 0px 0px 0px;
}

.menuitem {
	float: left;
	width: 200px;
	margin:0px 0px 0px 0px;
	background-color: transparent;
	color: black;
	list-style: none;
}

.menu-item {
	float: left;
	max-width: auto;
	margin: 10px 10px 0px 45px;
	background-color: #000000;
	font-family: Open Sans, Verdana;
	color: #FFFFFC;
	font-size: 0.8rem;
	padding: 0.5rem;
	position: relative;
	transition: color .5s, background-color .5s;
}
.menu-item:hover {
	color: #FFFFFC;
	background-color: #000000;
	cursor: pointer;
}

.submenu {
	visibility: hidden;
	position: absolute;
	
	margin: 0px -10px 0px 0px;
	left: 0%;
	top: 100%;
	background-color: #000000;
}

.menu-item:hover .submenu {
	visibility: visible;
}

.border{
	border: solid black 2px;
}

.blackb:hover{
	background-color: black;
}